body{
    min-width: 960px;
    background: url(4a24f6fc8e.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
/* Odpowiadają za ustawienie górnego menu i paska footer */
.navbar {
    border: 1px solid transparent;
    margin-bottom: 20px;
    min-height: 50px;
    position: relative;
    /*kolor paska menu */
    /*background-color: #7a041d;*/
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.17, #7A041D),
    color-stop(0.52, #BD314F),
    color-stop(0.89, #7A041D)
);
background-image: -o-linear-gradient(top, #7A041D 17%, #BD314F 52%, #7A041D 89%);
background-image: -moz-linear-gradient(top, #7A041D 17%, #BD314F 52%, #7A041D 89%);
background-image: -webkit-linear-gradient(top, #7A041D 17%, #BD314F 52%, #7A041D 89%);
background-image: -ms-linear-gradient(top, #7A041D 17%, #BD314F 52%, #7A041D 89%);
background-image: linear-gradient(to top, #7A041D 17%, #BD314F 52%, #7A041D 89%);
z-index: 1000;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    left: 0;
    position: fixed;
    right: 0;
    transform: translate3d(0px, 0px, 0px);
    z-index: 1030;
}
.navbar-fixed-top {
    border-width: 0 0 1px;
    top: 0;
}
.navbar-fixed-bottom {
    border-width: 1px 0 0;
    bottom: 0;
    margin-bottom: 0;
}
/*klasa w której umieściłam menu, dzięki niej nadałam większe marginesy zewnętrznych przycisków */
.container {
    margin-top: 10.1px;
    margin-bottom: 10.1px;
    height: 50px;
    margin-right: 5%;
    margin-left: 5%;
}
/*ustawienie menu wewnątrz containera, tak żeby go wypełnił w całości */
ul#topmenu, 
ul#topmenu ul {
    margin: 0;
    padding: 0;
    list-style: none outside none;
    width: 100%;
}
/*ustawienie zakładek w lini, ustalenie ich szerokości w zależności od ekranu, marginesów i wysokości */
ul#topmenu li {
    display: block;
    float: left;
    width: 24%;
    position: relative;
    white-space: nowrap;
    margin-right: 0.5%;
    margin-left: 0.5%;
    height: 50px;
    border-style: none;
}
/* ustalenie stylu tekstu, koloru, rozmiaru, pozycji, paddingów*/
ul#topmenu a {
    border-style: none;
    border-width: 0;
    /*kolor tekstu w zakladkach*/
    color: rgb(255, 247, 178);
    cursor: pointer;
    display: block;
    text-align: center;
    font: bold 22px Open Sans,Arial,sans-serif;
    padding-top: 12px;
    text-decoration: none;
    vertical-align: middle;
}
ul#topmenu li:hover {
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.17, #7A041D),
    color-stop(0.52, #A62D47),
    color-stop(0.89, #7A041D)
);
background-image: -o-linear-gradient(top, #7A041D 17%, #A62D47 52%, #7A041D 89%);
background-image: -moz-linear-gradient(top, #7A041D 17%, #A62D47 52%, #7A041D 89%);
background-image: -webkit-linear-gradient(top, #7A041D 17%, #A62D47 52%, #7A041D 89%);
background-image: -ms-linear-gradient(top, #7A041D 17%, #A62D47 52%, #7A041D 89%);
background-image: linear-gradient(to top, #7A041D 17%, #A62D47 52%, #7A041D 89%);
}

.scroller{
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: 50px;
    top: 70.2px;
    background-color: transparent;/* rgba(255, 247, 178,0.5);*/
    z-index: 3;
}
.scroller .arrow {
    height:50px;
    width:137px;
    margin: 0 auto;
    position: relative;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#eea1fc', endColorstr='#d441ee');
    background-color:rgba(122, 4, 29, 0.5);
    -webkit-border-bottom-right-radius:42px;
    -moz-border-radius-bottomright:42px;
    border-bottom-right-radius:42px;
    -webkit-border-bottom-left-radius:42px;
    -moz-border-radius-bottomleft:42px;
    border-bottom-left-radius:42px;
}
.arrow:hover {
    background-color:rgba(191, 57, 84, 0.5);
}
.arrow:active {
    position:relative;
    margin: 0 auto;
}
.scroller .arrow .pointerDown {
    width: 26px;
    height: 20px;
    border: solid rgb(255, 247, 178);
    border-width: 6px 6px 0 0;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 0 auto;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative;
}
.scroller .arrow .pointerUp {
    width: 26px;
    height: 26px;
    border: solid rgb(255, 247, 178);
    border-width: 6px 6px 0 0;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin: 0 auto;
    position: relative;
    top: 17px;
}
.bottom_menu {
    /*ustawiam tabele względem górnej krawędzi */
    margin-top: 150px;
    width: 101.3%;
    left: 0;
    width: 100%;
    position: fixed;
    left: 0;
    right: 0;
    height: auto;
    position: fixed;
    right: 0;
    background-color: rgba(255, 247, 178,0.5);
    z-index: 3;
}
.bottom_menu table {
    /*rozciągam tabelę na szerokość strony */
    width: 87.5%;
    /*ustawiam odległość tabeli od boków ekranu - tak jak zrobiłam to z menu w container */
    margin-left: 5%;
    margin-right: 7.5%;
}
.bottom_menu td{
    /*ustawiam szerokość komórek na taką samą co zakładek w menu głównym */
    width: 20%;
    /*wyśrodkowuję tekst w komórkach */
    text-align: center;
    /*ustawiam wielkość liter */
    font-size: 18px;
    margin-right: 1%;
    margin-left: 1%;
}
table a{
    /*ustawiam kolor wyrazów w tabeli */
    color: #992e45;
    /*pozbywam się podkreślenia pod słowami w tabeli*/
    text-decoration: none;
}
.foot{
    background-color: Black;
    color: #fff;
    text-align: center;
    height: 58px;
    padding-top: 8px;
    margin-top: 3px solid Black;
}