html {
	background: url(4a24f6fc8e.jpg) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
body{
	min-width: 960px;
	position: fixed;
	left: 0;
    right: 0;
    top: 0;
}
.glass {
	border:3px solid rgba(145, 68, 103, 0.6);
	width: 600px;
	margin:20% 20% ;
	position: relative;
	vertical-align: middle;
	background-color: rgba(250, 250, 250, 0.6);
	filter: blur(5px);
// Browser Specific
-webkit-filter: blur(5px);
-moz-filter: blur(5px);
-o-filter: blur(5px);
-ms-filter: blur(5px);
}
.glass h1,
.glass p,
.glass img{
	margin: 5px;
	text-align: center;
}
/*
background: url("glassy-ripple.jpg") no-repeat fixed 0 0 white;